*{
    margin: 0px;
    
}
#imgnav{
    width: 4rem;
    margin: 0.75rem;
}
#btnlogin{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 2rem;
    width: 4.6rem;
    height: 2.5rem;
    color: white;
    background-color: #172031;;
    font-size: larger;
    border: solid 0.1rem;
    border-color: #03e9f4;
    text-align: center;
    }
    

.nav{
    width: 100%;
    background-color: #0c121e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0%;
}
.btn__submit{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 0px;
    margin-right: 10px;
    letter-spacing: 4px;
    background-color: black;
}
.btn__submit:hover{
    background: #03e9f4;
    color: rgb(10,11,21);
    border-radius: 5px;
}
.btn__submit span{
    position: absolute;
    display: block;
}
.btn__submit span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1{
    0%{
        left: -100%;
    }
    50%,
    100%{
        left: 100%;
    }
}
.btn__submit span:nth-child(2){
    top: -100;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}
@keyframes btn-anim2{
    0%{
        top: -100%;
    }
    50%,
    100%{
        top: 100%;
    }
}
.btn__submit span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}
@keyframes btn-anim3{
    0%{
        right: -100%;
    }
    50%,
    100%{
        right: 100%;
    }
}
.btn__submit span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes btn-anim4{
    0%{
        bottom: -100%;
    }
    50%,
    100%{
        bottom: 100%;
    }
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
}
.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
   
.card p{
    color: #a3a5ae;
    font-size: 16px;
}
   
.image {
    float: right;
    margin-top: 2rem;
    max-width: 180px;
    max-height: 180px;
}
.blue {
    border-left: 3px solid #03e9f4;
    border-right: 3px solid #03e9f4;
}
   
.green {
    border-left: 3px solid #03e9f4;
    border-right: 3px solid #03e9f4;
}
   
.red {
    border-left: 3px solid #03e9f4;
    border-right: 3px solid #03e9f4;
}
#card{
    height: 15rem;
}
.dropdown-menu ul{
    list-style: none;
    font-size: 1rem;
    padding: 0px;
}
.dropdown-menu{
    position: relative;
    display: inline-block;
    height: 45px;
    width: 200px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    background-color: #03e9f4;
    margin-left: 50rem;   
}
.dropdown{
    position: absolute;
    width: 200px;
}
.dropdown li{
    display: none;
    opacity: 0;
    background-color: #a3a5ae;
    transition: color .3s;
}
.dropdown li:hover{
    background: #03e9f4;
}
.dropdown-menu:hover .dropdown li{
    display: block;
    animation: animation .5s forwards;
}
@keyframes animation{
    from{
        opacity: 0;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}
.dropdown-menu .dropdown li:nth-last-child(1){
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.dropdown-menu .dropdown li:nth-last-child(2){
    animation-delay: .2s;
}
.dropdown-menu .dropdown li:nth-last-child(3){
    animation-delay: .4s;
}
.dropdown-menu .dropdown li:nth-last-child(4){
    animation-delay: .6s;
}
.dropdown-menu .dropdown li:nth-last-child(5){
    animation-delay: .8s;
}
